.red {
  color: red;
}
.green {
  color: green;
}

.segment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.segment .segment-name {
  text-align: right;
}

.segment .segment-time-saved {
  text-align: center;
}

.segment .segment-ended-at {
  text-align: left;
}

#run {
  margin-top: 10rem;
  display: grid;
  place-items: center;
}

#run-info {
  margin-bottom: 1rem;
}

.active-segment, .timer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
